.login-page {
  height: 100vh;
  /* background: linear-gradient(135deg, #0d6efd, #dc3545, #198754, #000); */
  /* background-size: 400% 400%; */
  /* animation: gradientBG 15s ease infinite; */
}


.login-card {
  width: 70%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
}
